main {
  min-height: 80vh;
}
.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(55, 71, 77);
  color: white;
  min-height: 10vh;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  width: 50%;
  align-items: center;
  list-style: none;
}
.cardTile {
  min-height: 10vh;
  align-content: center;
  padding: 30px;
  text-decoration: none;
}

.customHover {
  transition: transform 0.5s;
}
.customHover:hover {
  transform: scale(1.1);
}
